body {
  background-image: url("background_img.jpeg");
  background-size: cover;
}

/* 设置全局样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", sans-serif;
}

/* 设置页面容器样式 */
.container {
    width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}
/* 设置logo样式 */
.logo {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    color: #333;
}

/* 设置搜索框样式 */
.search {
    text-align: center;
    margin-bottom: 50px;
}

.search input[type="text"] {
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    color: #333;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.search input[type="submit"] {
    margin-left: 20px;
    padding: 10px 25px;
    background-color: #007bff;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.search input[type="submit"]:hover {
    background-color: #0062cc;
}

/* 设置添加订单部分样式 */
.form {
  display: inline-block; /* 使表单在同一行内显示 */
  vertical-align: top; /* 将表单垂直对齐 */
  text-align: center;
}

.form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}


.form input[type="text"],
.form input[type="number"],
.form select,
.form label,
.form input[type="date"] {
    display: block;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    color: #333;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.form select {
    margin-top: 20px;
}

.form input[type="submit"] {
      display: inline-block;
      width: 80px;
      margin-left: 10px;
      padding: 10px;
      background-color: #007bff;
      border: none;
      border-radius: 25px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.form input[type="submit"]:hover {
    background-color: #0062cc;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-container .form {
  width: 30%;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group input[type="text"] {
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    color: #333;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.input-group input[type="submit"] {
    margin-left: 20px;
    padding: 10px 25px;
    background-color: #007bff;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.input-group input[type="submit"]:hover {
    background-color: #0062cc;
}

#ordersTable {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

#ordersTable th,
#ordersTable td {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

#ordersTable th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

#ordersTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#ordersTable tbody tr:hover {
  background-color: #ddd;
}


button {
    margin-left: 20px;
    padding: 10px 25px;
    background-color: #007bff;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #0062cc;
}


